/* Nav-Bar */

.navbar {
    height: 5rem;
    background-color: #fff;
}

.fa-compass {
    color: #fe424d;
    font-size: 1.7rem;
}

.nav-link {
    color: #222222 !important;
    display: flex;
    font-size: 1rem;
}

.navbar-brand{
    font-size: 2rem !important;
    color:#fe424d !important;

}

.explore {
    color: #ff4854 !important;
}    

.newNest {
    margin-right: 10px !important;
    transition: box-shadow 1s ease-in-out .1s;
    border-radius: 25px;
}

.newNest:hover {
    transition: box-shadow 1s ease-in-out .1s ;
    border-radius: 25px;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, .7) !important;
}

/* Login, signup and logout btns */
.user {
    color: #fff !important;
    background-color: #ff4854 !important;
    padding-right: 1rem;
    border-radius: 20px;
    width: 15vh;
    display: flex !important;
    align-items: center;
    justify-content: center;
    opacity: .8;
    margin-right: 1.5rem;
}
.user:hover {
    background-color: #ff4854;
    opacity: 1;
}


.search-btn {
background-color: #fe424d;
color: #fff;
border-radius: 30px;
}
.search-btn:hover {
background-color: #fe424d;
color: #fff;
}
.search-btn i {
display: inline;
margin-right: .5rem;
}
.search-inp {
border-radius: 20px;
padding: 0 3rem 0 3rem;
}

@media screen and (min-width: 768px) and (max-width: 813px) {
    .user {
        font-size: .7rem !important;
        width: 15vh;
        height: 40px;
    }
    .newNest {
    margin-right: 6px !important;
    font-size: .8rem !important;
    }
}

@media screen and (min-width: 813px) and (max-width: 925px) {
    .user-signup, .user-login {
        height: 40px !important;
        font-size: .8rem !important;
        width: 15vh !important;
    }
    .newNest {
        height: 40px !important;
        font-size: calc(100% - 3px);
    }
}

/* Navbar Collapse */

/* When navbar collapses, give white background and padding */
@media (max-width: 768px) {
  .navbar-collapse {
    background-color: #fff !important;
    padding: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 0 0 10px 10px;
  }

  .navbar-collapse .user {
    background-color: #ff5a5f;
    color: white !important;
    border: none;
    border-radius: 20px;
    padding: 0.4rem 1rem;
    font-weight: 600;
    display: inline-block;
    margin-top: 0.5rem;
    text-align: center;
  }

  .navbar-collapse .user:hover {
    background-color: #ff767b;
  }

  .newNest {
    padding-left: 10px !important;
  }
}